.hero {
  background: $c-secondary;
  color: $c-primary;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;

&__heading {
  font-size: 2rem;
}
}
