<div class="app__content">
  <div class="swanson">
    <div class="container">
      <div class="swanson__container">
        <h1 class="swanson__headline">Place Swanson</h1>
        <p class="swanson__tagline">A Swanson for all of your places.</p>
      </div>
      <ul class="swanson__link-list">
        <li class="swanson__link-list-link">Calm: <a href="#" class="swanson__link-list-a">http://www.placeswanson.com/200/300</a></li>
        <li class="swanson__link-list-link">Gray: <a href="#" class="swanson__link-list-a">http://www.placeswanson.com/200/300</a></li>
        <li class="swanson__link-list-link">Crazy: <a href="#" class="swanson__link-list-a">http://www.placeswanson.com/200/300</a></li>
        <li class="swanson__link-list-link">Gif: <a href="#" class="swanson__link-list-a">http://www.placeswanson.com/200/300</a></li>
      </ul>
      <div class="swanson__container-images">
        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="http://wac.450f.edgecastcdn.net/80450F/screencrush.com/files/2012/08/Ron-Swanson.jpg" alt="">
        </div>
        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="http://uproxx.files.wordpress.com/2013/05/ron-swanson-poop.gif?w=650" alt="">
        </div>
        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="https://images6.alphacoders.com/549/549120.jpg" alt="">
        </div>
        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="http://vignette3.wikia.nocookie.net/parksandrecreation/images/b/bc/Charles_Mulligan's_Steak_House.jpg/revision/latest?cb=20120829043936" alt="">
        </div>

        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="http://swansonquotes.com/wp-content/uploads/s03-ep16-eyebrows12-1000x500.jpg" alt="">
        </div>

        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="https://s-media-cache-ak0.pinimg.com/236x/79/d4/c4/79d4c4596eeb170d0d3dbb12f0c578b5.jpg" alt="">
        </div>

        <div class="swanson__container-images-frame">
          <img class="swanson__container-images-img" src="https://media.giphy.com/media/lfmLzyIbqgCI0/giphy.gif" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
