<div class="app">
  {{!-- <div class="app__top">
    <div class="container">
      <div class="top-nav">
        <div class="top-nav__group">
          <h1 class="top-nav__item">Place Swanson</h1>
        </div>
      </div>
    </div> --}}
    <div class="hero">
      <h1 class="hero__heading">PLACE SWANSON</h1>
    </div>
  </div>
{{!-- </div> --}}

{{outlet}}
